<h1 class="text-center">Alpha Bloggers</h1>

<% @users.each do |user| %>

    <div class="col-8 mt-4">
     <div class="card text-center shadow mb-5 bg-white rounded">
      <div class="card card-header font-italic">
         <%= user.username %>
      </div>
      <div class="card-body">
         <%= gravatar_for user , size:60 %>
         <p class="card-text"> <%= pluralize(user.articles.count , "article") %> </p>
         <%= link_to "View", user_path(user), class: "btn btn-outline-success" %>
         <%= link_to "Edit", edit_user_path(user), class: "btn btn-outline-info" %>
         <%= link_to "Delete", user_path(user), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
      <div class="card-footer text-muted">
          <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
      </div>
     </div>
    </div>

<% end %>